@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');
.bar1-animation {
  transform: rotate(45deg) translate(12%,220%);
  transition: transform 300ms ease-in ;
}

.bar2-animation {
  opacity: 0;
  transition: opacity 100ms ease-in ;
}

.bar3-animation {
  transform: rotate(-45deg) translate(15%, -250%);
  transition: transform 300ms ease-in ;
}
nav{
  display: none;
}
:root {
  font-size: 62.5%;
  --background-color: #181719;;
  --primary: #FFFFFF;
  --secondary: #F2F2F2;
  --tertiary: #828282;
  --footer-color: #A9A9A9;
  --Crimson-font: 'Crimson Pro',serif;
  --Lora-font: 'Lora',serif;
  --montserrat-font: 'Montserrat', sans-serif;
}
body {
  position: relative;
  margin: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
footer{

  margin-top: 200px;
}
footer>p {
  font-family: var(--montserrat-font);
  color: var(--footer-color);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
}
header{
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-block: 15px;
  gap: clamp(200px,60%,500px);
}
li{
  list-style: none;
}
a,
a:active,
a:visited{
  text-decoration: none;
  color:var(--primary) ;
}
#top {
  height: 32px;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  font-family: var(--Crimson-font) ;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}
#burger{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 19px;
  width: 28.5px;
  align-self: center;
  z-index: 1;
}
.bar{
  position: absolute;
  background-color: var(--secondary);
  width: 100%;
  height: calc(100%/6);
  display: block;
  border-radius: 10px;
}
.bar1{
  top: 0;
}
.bar2{
  top: calc(250%/6);
}
.bar3{
  bottom: 0;
}
.contentContainer{
  width: min-content;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:1.4rem;
}
h1 {
  font-family: var(--Lora-font);
  font-weight: 500;
  font-size: clamp(3.6rem, 9.6vw, 4.8rem);
  line-height: clamp(4.6rem, 12.2vw, 6.1rem);
  color: var(--primary);
}
.paraContainer{
  width: clamp(250px,66vw,410px);
  font-family: var(--montserrat-font);
  font-weight: 400;
  font-size: clamp(1.4rem,3.7vw,2.4rem);
  line-height: clamp(1.7rem,4.5vw,2.9rem);
  color: var(--primary);
}
.special{
  display: inline-block;
}
#readMore{
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: clamp(1.4rem,3.7vw,1.8rem);
  line-height:clamp(1.7rem,4.5vw,2.2rem);
}
.designContainer{
  width:clamp(351px,93.6vw,737px);
  height: clamp(264.32px , 70.4vw , 555px);
  background: #C4C4C4;
  background-image: url("photo1.png");
  background-size: contain;
}
.mediaContainer{
  position: relative;
}
.cardContainer{
  background-color: var(--background-color);
  position: absolute;
  top: 80.6%;
  right: 3.14%;
  width: clamp(300px,80vw,410px);
  height: clamp(138px,36.8vw, 189px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.profilePic{
  background: #C4C4C4;
  background-image: url("photo2.png");
  background-size: contain;
  width:clamp(36.59px,12.2%,50px);
  aspect-ratio: 1/1;
  border-radius: 37px;
}
.identityContainer{
  flex-basis: 70%;
}
.name{
  font-family: --montserrat-font;
  font-weight: 500;
  font-size:clamp(1.2rem,3.2vw , 1.4rem);
  line-height: clamp(1.5rem, 4vw, 1.7rem);
  color: var(--primary);
}
.prof{
  font-family: --montserrat-font;
  font-weight: 500;
  font-size: clamp(1rem, 2.6vw, 1.2rem);
  line-height: clamp(1.2rem, 3.2vw, 1.5rem);
  color: var(--tertiary);
}
.name p,.prof p, .credit p {
  margin: 0;
}
.credit {
  font-family: var(--Lora-font);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--primary);
  flex-basis: 85%;
  align-self: flex-start;
}
.special2{
  display: block;
}
.ulOn {
  padding: 0;
  margin: 0;
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color:var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;
}

.navOn{
  display: unset;
  position:absolute;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (min-width:800px) {
  .navOn{
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    z-index: unset;
  }
    .ulOn {
      font-family: var(--montserrat-font);
      color: var(--primary);
      flex-direction: unset;
      justify-content: unset;
      position: unset;
      top: unset;
      left: unset;
      transform: unset;
      height: unset;
    }
  #burger {
    display: none;
  }
  header{
    gap: unset;
    justify-content: unset;
    justify-content: space-evenly;
    margin-bottom: 160px;
  }

  #navigation {
  display: flex;
  align-self: center;
  }
  #list {
    margin: 0;
    padding: 0;
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--primary);
    display: flex;
    width: 100%;
    gap: 86px;
  }
}
@media (min-width:1161px) {
  .contentContainer {
    width: unset;
    justify-content: center;
    margin-inline: 0;
  }

  header {
  gap: clamp(200px, 44%, 600px);

  }
}
@media (min-width:1200px) {
  .contentContainer {
    justify-content: space-around;
  }
}
.underline::after{
  content: "";
  width: 100%;
  border: 2px solid var(--primary);
  background-color: red;
  display: block;
  margin-top: 5px;
}